body {
    background-color: var(--primary-bc-color);
    color: var(--primary-txt-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
:root {
    --primary-bc-color: #1F1B24;
    --primary-txt-color: white;
}
.pages-container {
    max-width: 70%;
    margin: 15rem;
}
.info {
    display: flex;
    justify-content: space-between;
}
.pages-container h1 {
    text-indent: 2rem;
}
.pages-options {
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    border-radius: 20px;
    width: 100%;
    margin-top: 1rem;
    padding: 1rem;
}
.option {
    display: flex;
    text-indent: 1rem;
}
.option h2 {
    padding-right: 4rem;
    cursor: pointer;
    position: relative;
}
.option h2::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: white;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.2s ease-out;
}

.option h2:hover::before {
    visibility: visible;
    transform: scaleX(1);
}
.opener {
    margin: auto;
    margin-right: 5.5%;
    cursor: pointer;
}
.opener div {
    width: 2rem;
    height: 0.3rem;
    background-color: white;
    transition: all 0.5s ease-in-out;
}
.line1 {
    transform: rotate(45deg);
}
.line2 {
    transform: translate(21px, -5px) rotate(-45deg);
}
.pages-data {
    display: none;
    transition: all 0.5s ease-in-out;
}
.inputs {
    display: flex;
    margin-top: 1rem;
    text-indent: 2rem;
    margin-bottom: 1rem;
}
.pages-data input {
    margin-left: 1.5rem;
    width: 15%;
    padding: 0.5rem;
    font-size: 16px;
    background-color: rgb(20, 20, 20);
    border-radius: 0.8rem;
    border: 2px solid rgb(60, 60, 60);
    color: var(--primary-txt-color);    
    transition: border 0.3s ease-in-out;
}
.toggle {
    --width: 40px;
    --height: 20px;
    --border-radius: 10px;
    display: inline-block;
    cursor: pointer;
    margin-top: 1rem;
    margin-left: 1rem;
}
.toggle__input {
    display: none;
}
.toggle__input:checked ~ .toggle__fill {
    background: rgb(26, 155, 225);
  }
  
  .toggle__fill::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: var(--height);
    width: var(--height);
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    border-radius: var(--border-radius);
    transition: transform 0.2s;
  }
  
  .toggle__input:checked ~ .toggle__fill::after {
    transform: translateX(var(--height));
  }
  
.toggle__fill {
    position: relative;
    width: var(--width);
    height: var(--height);
    border-radius: var(--border-radius);
    background: #dddddd;
    transition: background 0.2s;
}
.pages-container button {
    width: 10%;
    margin-right: 1rem;
    padding: 0.8rem;
    font-size: 20px;
    border: none;
    border-radius: 1rem;
    color: white;
    cursor: pointer;
    background: linear-gradient(to right, rgb(26, 105, 205), rgb(26, 155, 225));
}
.opener.active .line1 {
    transform: rotate(-45deg);
}
.opener.active .line2 {
    transform: translate(21px, -5px) rotate(45deg);
}
.pages-data.active {
    display: block;
    transition: all 0.5s ease-in-out;
}