@media all and (max-width:1200px) {
    .burger {
        display: block;
    }
    .burger.active div:nth-child(2) {
        opacity: 0;
    }
    .burger.active div:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .burger.active div:nth-child(3)  {
        transform: translateY(-8px) rotate(-45deg);
    }    
    .nav-links {
        position: absolute;
        top: 4rem;
        left: -150%;
        width: 100%;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
        background-color: rgb(38, 38, 38, 0.9);        
        transition: all 0.3s ease-in-out;
    }
    .nav-links.active {
        left: 0;
    }
    .nav-links.active a {
        color: white;
    }
    .nav-links.active a::before {
        background-color: white;
    }
}
@media all and (max-width:850px) {
    .account_options {
        flex-direction: column;
    }
    .acc_container {
        margin: auto;
    }
}