form {
    display: flex;
    flex-direction: column;
    justify-self: center;
    gap: 1rem;
    font-size: 20px;
}
form div {
    display: flex;
    width: 25rem;
    justify-content: space-between;
}

input[type="text"], input[type="file"] {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    padding: 2%;
    color: white;
    width: 14rem;
}
::placeholder {
    color: white;
}

input[type="submit"] {
    background: linear-gradient(to right, #ffdb00,  #259dcc 50% 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    font-size: 20px;
    padding: 3%;
    width: 50%;
    margin: auto;
    border: none;
    border-radius: 10px;
    transition: all 0.4s ease-in-out;
    margin-top: 1rem;
}
input[type="submit"]:hover {
    background-position: left bottom;
}