* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    display: relative;
    background-color: #1F1B24;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    padding-top: 7rem;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
/*.imglogo {
    width: 100px;
    position: fixed;
    top: max(8%, 5rem);
    left: 2%;
}*/